body {
    margin: 0;
    font-family: sans-serif;
}

table, th {
    border: 1px solid;
    border-collapse: collapse;
    width: 100%;
    min-width: 100px;
}

.content {
    width: 30%;
    margin: 0 auto;
}

.table-header{
    text-align: center;
}

form {
    margin-top: 20px;
}

#content {
    width: 50%;
}

td {
    text-align: center;
    padding: 5px;
    border: 1px solid;
}